/* body styles*/
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    line-height: normal;
}
/* nav section shape styles*/
nav{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 37px;
    margin-bottom: 37px; 
    background-color:  #fff;
    box-shadow: 0px 4px 30px 0px ;
}
/* header container styles*/
.header-container{
   width: 1920px;
   height: 130px;
  
}
/* header styles*/
.header{
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 20px;
}
/* header color text styles*/
.pink-text{
    color: #FF42A5;
}
/* header content styles*/
.header-content{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
/* unordered list styles*/
nav ul{
    list-style: none;
    display: flex;
    gap: 24px;
}
/* header info styles*/
.header-info{
    display: flex;
    padding: 20px 20px 20px 20px ;
}
/* header contact division styles*/
.header-contact{
    display: flex;
    gap: 20px;
    width: 190px;
    height: 50px;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    background: rgba(11, 2, 35, 0.10);
    border-radius: 8px;
    padding: 10px 10px 20px 20px;
  
}
/*styles of header-icon in header contact */
.header-contact .header-icon{
    width: 24px;
    height: 24px; 
}
/* header icon styles*/
.header-icon{
    width: 30%;
    margin:  20px 0px;
}
/*banner section styles*/
.banner,.we-are-gamer{
    display: flex;
    justify-content: space-evenly;
}
/*banner description styles*/
.banner-description{
    margin: 148px 306px 148px 240px;
}
/*banner title styles*/
.banner-title{
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
}
/*banner and gamer sections title color styles*/
.banner-title-color, .gamer-title-color {
    font-size: 95px;
    text-align: center;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;   
}
/*gamer sections title font styles*/
.gamer-title-color {
    font-size: 2rem;
    text-align: right;
}
/*unordered division styles*/
div ul{
    display: flex;
    justify-content: flex-start;
    text-align: center;
    list-style: none;
    padding-left: 0% ;
}
/*primary button styles*/
.btn-primary{
    font-size: 20px;
    font-weight: 600;
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    margin-top: 30px;
}
/*primary pink color button styles*/
.btn-primary-pink-color{ 
    color: #FFF; 
    border: 0px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 21px 40px;
}
/*primary bluen color button styles*/
.btn-primary-blue-color{
    color: #FFF;
    border: 0px;
    border-radius: 48px;
    background: #4EC5F7;
    padding: 21px 40px;

}
/*gamer section styles*/
.gamer-section{
    text-align: right;
}
/*gamer banner description section styles*/
.gamer-banner-description
{    
    width: 520px;
    height: 120px;
    color: #534C64;  
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
    margin-right:0px ;
}
/*our purpose section styles*/
.our-purpose{
    color: #534C64;
    text-align: right;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
}
/*responsive media*/
@media screen and (max-width:575px){
    
    nav,ul ,.header,.header-info,.header-contact{
        flex-direction: column;
    }
    
    
}